@model ProductViewModel
@{
    ViewData["Title"] = "Edit Product";
}
<div>
    <h1>Edit Product</h1>
    @if (Model.ClaimDescriptor.IsDenied)
    {
        <div>
            Product '{@Model.Name} (@Model.Identifier)' is under edit.
        </div>
        @if (Model.ShowRetryHyperlink)
        {
            <div>@Html.Raw(Model.GetRetryHyperlink("Retry edit"))</div>
        }
    }
    else if (Model.ClaimDescriptor.IsApproved)
    {
       <form asp-asp-area="" asp-action="Edit" asp-controller="Product" asp-asp-antiforgery="true">
           <div>
               <label asp-for="Name">Name:</label>
               <input asp-for="Name" />
               <span asp-validation-for="Name" />
           </div>
           <div>
               <label asp-for="Description">Description:</label>
               <input asp-for="Description" />
               <span asp-validation-for="Description" />
           </div>
           <div>
               <input type="submit" value="Save" />
               <a asp-area="" asp-action="Details" asp-controller="Product" asp-route-id="@Model.Identifier">Cancel</a>
           </div>
           <input type="hidden" asp-for="Identifier" />
       </form>
    }
</div>
